body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
  min-width: 1200px;
}

a {
  text-decoration: none;
}

.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
/* Кнопки */

.btn {
  display: inline-block;
  padding: 14px 54px;
  border-radius: 2px;
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #fb565a;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

/* Навигация */

.main-navigation {
  line-height: 30px;
  background-color: #eeeeee;
  padding-bottom: 18px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.main-logo {
  display: block;
  width: 160px;
  height: 65px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
}

.list-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; 
  width: 438px;
}

.user-cart {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.user-cart .cart-link {
  position: relative;
  padding-left: 41px;
}

.cart-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 15px;
  height: 15px;
  background-image: url("../img/icons/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.main-navigation li {
  text-transform: uppercase;
  list-style: none;
  font-weight: 500;
}

.main-navigation a {
  display: block;
  padding-top: 49px;
  color: inherit;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .active {
  pointer-events: none;
  box-shadow: 0 2px #fb565a;
}

/* Main */

.page-title {
  display: block;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
  background-color: #eeeeee;
  min-width: 1440px;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-top: 64px;
  padding-bottom: 116px;
}

/* Слайдер */

.slider {
  position: relative;
  box-sizing: border-box;
  background-color: #eeeeee;
  padding: 0;
  margin-bottom: 80px;
}

.slide-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-list .active {
  display: block;
}

.slide {
  display: none;
  width: 1200px;
  height: 424px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  background-color: #eeeeee;
  background-position: 451px 11px;
  background-repeat: no-repeat;
}

.slide:nth-of-type(1) {
  background-image: url("../img/slides/slide1.png");
}

.slide:nth-of-type(2) {
  background-image: url("../img/slides/slide2.png");
}

.slide:nth-of-type(3) {
  background-image: url("../img/slides/slide3.png");
}

.slide b {
  display: block;
  width: 515px;
  line-height: 55px;
  font-size: 55px;
  font-weight: 500;
  padding-top: 47px;
  padding-bottom: 28px;
}

.slide p {
  width: 409px;
  padding-bottom: 28px;
  color: #283136;
}

.btn-slider {
  margin-bottom: 80px;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  bottom: 90px;
  right: 50%;
  transform: translateX(50%);
}

.toggle-label {
  position: relative;
  display: inline-block;
  margin: 0 7px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.slider-toggle:checked + .toggle-label::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

/* Услуги*/

.service-block h3 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.services {
  display: flex;
  padding-bottom: 80px;
  border-bottom: 1px solid #eeeeee;
}

.service-block {
  position: relative;
  padding-top: 146px;
  width: 300px;
  margin-right: 100px;
}

.service-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 146px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.service-web::before {
  background-image: url("../img/services/service-web.png");
  background-color: #e74246;
}

.service-app::before {
  background-image: url("../img/services/service-app.png");
  background-color: #00bc6c;
}

.service-presentation::before {
  background-image: url("../img/services/service-presentation.png");
  background-color: #efc84a;
}

.services:last-child {
  margin-right: 0;
}

.service-block p {
  width: 245px;
  color: #283136;
}

.btn-app,
.btn-presentation,
.btn-web {
  padding-left: 39px;
  padding-right: 39px;
}

.service-block .btn-app {
  background-color: #00ca74;
}

.service-block .btn-app:hover {
  background-color: #00bc6c;
}

.service-block .btn-app:active {
  background-color: #00aa62;   
}

.service-block .btn-presentation {
  background-color: #efc84a;
}

.service-block .btn-presentation:hover {
  background-color: #eab534;
}

.service-block .btn-presentation:active {
  background-color: #e5a722;
}

/* О нас */

.about-us {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  padding-bottom: 76px;
  border-bottom: 1px solid #eeeeee;
}

.development {
  width: 650px;
  padding-top: 40px;
}

.advantages {
  position: relative;
  padding-top: 208px;
}

.about-us .advantages::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 208px;
  background-image: url("../img/bg/nerds-illustration.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.advantages table {
  width: 360px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

.about-us b {
  font-size: 45px;
  line-height: 45px;
}

.about-us-text {
  text-transform: uppercase;
  font-weight: 700;
}

.about-us p,
.list-develop,
.about-us td {
  color: #283136;
}

.list-develop {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-develop li {
  position: relative;
  padding-left: 35px;
}

.list-develop li::before {
  content: "";
  position: absolute;
  bottom: 50%;
  left: 0;
  height: 2px;
  width: 25px;
  background-color: #fb565a;
  transform: translateY(50%);
}

.advantages th {
  font-size: 45px;
  line-height: 45px;
}

/* Партнёры */

.partners {
  margin-bottom: 80px;
  border-bottom: 1px solid #eeeeee;
}

.partners-list {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  list-style: none;
  height: 180px;
  padding: 0;
}

.partners-list li {
  position: relative;
  width: 100%;
  text-align: center;
}

.partners-list li:not(:first-of-type)::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -2px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  transform: translateY(50%);
}

.partners-logo {
  opacity: 0.3;
}

.partners-logo:hover {
  opacity: 1;
}

.partners-logo:active {
  opacity: 0.1;
}

/* Фильтр и сортировщик товаров */

.catalog-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.filter {
  width: 260px;
  margin-right: 140px;
}

.filter-form fieldset {
  border: none;
  margin: 0;
  margin-bottom: 50px;
  padding: 0;
}

.range-filter {
  margin-top: 49px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.filter-form ul {
  list-style: none;
  line-height: 20px;
  padding: 0;
}

.filter-option {
  margin-bottom: 15px;
  padding-left: 37px;
}

.filter-option:first-child {
  margin-top: 21px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before,
.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -37px;
  top: 50%;
  transform: translateY(-50%);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.filter-input-checkbox + label::before {
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-input-checkbox:checked + label::before {
  background-image: url("../img/icons/checkbox-on.svg");
 }

.filter-input-radio + label::before {
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
}

.filter-input-radio:checked + label::before {
  background-image: url("../img/icons/radio-on.svg");
 }

.filter-input + label::before,
.filter-input:checked + label::before {
  opacity: 0.3;
}

.filter-input + label:hover:before,
.filter-input:checked + label:hover::before,
.filter-input:focus + label::before,
.filter-input:focus:checked + label::before {
  opacity: 1;
}

.filter-form legend,
.catalog-sort .sort-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.catalog-sort .sort-list {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.sort-title {
  margin: 0;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.sort-list li {
  padding-right: 26px;
}

.sort-list li:nth-child(3) {
  padding-right: 89px;
}

.sort-item::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 11px;
  height: 10px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.sort-increase::before {
  background-image: url("../img/icons/icon-up-dir.svg");
}

.sort-decrease::before {
  right: 30px;
  background-image: url("../img/icons/icon-down-dir.svg");
}

.sort-item::before {
  opacity: 0.09;
}

.sort-item:hover::before,
.sort-item:focus::before {
  opacity: 0.4;
}

.sort-item:active::before,
.sort-active.sort-item::before {
  opacity: 1;
}

.catalog-sort a {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort a:hover,
.catalog-sort a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-sort .sort-active,
.catalog-sort a:active {
  color: #000000;
}

.btn-catalog {
  padding: 18px 22px;
  line-height: 18px;
  color: inherit;
  background-color: #eeeeee;
}

.btn-next {
  padding-left: 78px;
  padding-right: 78px;
}

.btn-catalog:hover {
  background-color: #dfdfdf;
}

.btn-catalog:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.btn-filter {
  padding-left: 88px;
  padding-right: 88px;
}

/* Каталог */

.catalog-items,
.pagination {
  width: 760px;
  margin-bottom: 60px;
}

.catalog-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; 
}

.catalog-item {
  position: relative;
  padding-top: 40px;
  margin-bottom: 30px;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: 0;
  width: 360px;
  height: 40px;
  background-image: url("../img/icons/browser.svg");
  background-position: 0 0;
  background-repeat: repeat;
}

.catalog-item::before {
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.item-info {
  position: absolute;
  bottom: 6px;
  background-color: #eeeeee;
  width: 360px;
  min-height: 231px;
  text-align: center;
  z-index: -1;
}

.item-info .item-title {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}

.item-info h3 {
  padding: 0;
  margin: 0;
  padding-top: 30px;
}

.item-info p {
  display: block;
  line-height: 18px;
  color: #666666;
  width: 230px;
  padding: 0;
  margin: 0 auto;
  padding-top: 10px;
}

.item-info .item-title:hover {
  color: #fb565a;
}

.item-info .item-title:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item:hover .item-info {
  z-index: 1;
}

.btn-price {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 43px;
  padding-left: 61px;
  padding-right: 61px;
}

.btn-price:active {
  color: #ffffff;
}

/* Страничный навигатор */

.pagination ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  padding: 0;
  padding-right: 11px;
}

.pagination .current {
  pointer-events: none;
  cursor: default;
  background-color: #ffffff;
  box-shadow:inset 0 0 0 2px #dbdbdb;
}

/* Футер */

.map {
  position: relative;
  width: 1360px;
  height: 416px;
  margin: 0 auto;
  overflow: hidden;
}

.map-info {
  position: absolute;
  top: 54px;
  left: 140px;
  width: 319px;
  min-height: 308px;
  background-color: #ffffff;
  z-index: 1;
}

.map-info h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 50px;
  margin-top: 54px;
  margin-right: 56px;
}

.map-info p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  width: 210px;
  margin-left: 51px;
  margin-top: 32px;
  margin-bottom: 15px;
}

.map-info .phone {
  color: inherit;
  line-height: 50px;
}

.btn-popup {
  padding-right: 45px;
  padding-left: 45px;
  margin-left: 50px;
}

.social-and-promo {
  display: flex;
  align-items: center;
  min-height: 217px;
}

.footer-promo {
  margin-right: auto;
  margin-left: 139px;
  padding: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 257px;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;
}

.social-link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.social-vk::before {
  width: 25px;
  height: 15px;
  background-image: url("../img/icons/vk-icon.svg");
}

.social-fb::before {
  width: 12px;
  height: 22px;
  background-image: url("../img/icons/fb-icon.svg");

}

.social-in::before {
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/insta-icon.svg");
}

.social-link:hover {
  background-color: #e74246;
}

.social-link:active {
  background-color: #d7373b;
}

.social-link:active::before {
  opacity: 0.3;
}

.footer-promo b {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.footer-promo p {
  display: block;
  margin: 0;
  color: #444444;
  line-height: 22px;
}

/* Модальное окно */

.modal-hidden {
  display: none;
}

.write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  min-height: 590px;
  background-color: #ffffff;
  min-height: 590px;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  z-index: 2;
}

.write-us .popup-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  padding-top: 73px;
  margin-left: 100px;
}

.write-us-form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 36px;
  margin-top: 45px;
  width: 760px;
  margin-left: 100px;
  margin-right: 100px;
}

.write-us-form label {
  display: block;
  padding-bottom: 12px;
  line-height: 18px;
  font-weight: 700;
}

.write-us-form input,
.write-us-form textarea {
  box-sizing: border-box;
  font: inherit;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.5);
  border: 2px solid #d7dcde;
  border-radius: 2px;
  width: 360px;
  height: 50px;
}

.write-us-form input {
  padding-left: 15px;
}

.write-us-form textarea {
  padding-left: 15px;
  padding-top: 14px;
  width: 760px;
  min-height: 118px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  border-color: #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  outline: 0;
  color: #444444;
  border-color: #000000;
}

.write-us-form input:invalid,
.write-us-form textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

.btn-write-us {
  margin-top: 10px;
  padding-left: 83px;
  padding-right: 83px;
}

.btn-close {
  overflow: hidden;
  border: none;
}

.btn-close::before {
  content: "";
  position: absolute;
  right: 90px;
  top: 78px;
  width: 21px;
  height: 21px;
  background-image: url("../img/icons/close-cross.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-close {
  opacity: 0.3;
}

.btn-close:hover {
  opacity: 1;
}

.btn-close:active {
  opacity: 0.1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}